<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Report Campus"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReportCampus"
        tools:targetApi="31">
        <activity
            android:name=".telas.PrincipalActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".telas.EditCadastroActivity"
            android:exported="true" />
        <activity
            android:name=".telas.SuporteActivity"
            android:exported="true" />
        <activity
            android:name=".telas.ConfiguracoesActivity"
            android:exported="true" />
        <activity
            android:name=".telas.ReportesActivity"
            android:exported="true" />
        <activity
            android:name=".telas.SobreActivity"
            android:exported="true" />
        <activity
            android:name=".telas.CadastroActivity"
            android:exported="true" />
        <activity
            android:name=".telas.CarregamentoActivity"
            android:exported="true" />
        <activity
            android:name=".telas.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>